<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
      <mat-toolbar color="primary">
        <span>Weather App</span>
        <span class="spacer"></span>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar>
      <mat-nav-list>
        <a routerLink="./favorites" mat-list-item (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>favorite</mat-icon>
          <span>Favorites</span>
        </a>
  
        <a routerLink="./temp" mat-list-item (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>thermostat</mat-icon>
          <span>Temperature</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-toolbar>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
  